#indexBody {
	background: url(../images/startpage/hero-header.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	font-family: 'Lato', sans-serif;
}
#templateBody {
	background: url(../images/startpage/hero-header.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	font-family: 'Lato', sans-serif;
}
h1, h2, h3 {
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}
p {
		font-family: 'Lato', sans-serif;
}
#top-bar-holder {
	background-color: rgba(255,255,255,0.9);
-webkit-box-shadow: 0px 3px 2px 0px rgba(50, 50, 50, 0.05);
-moz-box-shadow:    0px 3px 2px 0px rgba(50, 50, 50, 0.05);
box-shadow:         0px 3px 2px 0px rgba(50, 50, 50, 0.05);
}
button.alert, .button.alert {
  background-color: #fa9f48;
  border-color: transparent;
  border-width: 1px;
  color: #FFF;
  	font-family: 'Lato', sans-serif;

  i {
  	margin-right: 0.3rem;
  }
}
#homepagefeaturesandbenefitsP {


			font-size: 0.9rem;
			line-height: 1rem;
	

}

button, .button {
  background-color: transparent;
  border-color: #9dccdb;
  border-width: 1px;
  color: #008CBA;
  	font-family: 'Lato', sans-serif;

  i {
  	margin-right: 0.3rem;
  }
  text-align: left;
}

#bigPerson {
	position: absolute;
	left: 50%;
	top: 10%;

	 transform: translate(-50%, -100%);
    -webkit-transform: translate(-50%, -100%);
    -o-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
}
button.alert:hover, .button.alert:hover {
  border-color:  transparent;
  border-width: 1px;
  color: #FFF;
}

.top-bar-section {
	ul {
		li {
			background-color: rgba(255,255,255,0);
			a {
				font-family: 'Lato', sans-serif;
			}
		}
	}
}

.top-bar-section li:not(.has-form) a:not(.button) {
	padding: 0 1rem;
    -webkit-transition: all  ease-out .3s;
    -moz-transition: all  ease-out .3s;
    -o-transition: all ease-out .3s;
    transition: all  ease-out .3s;	
 }
 .each-section {
 	min-height: 300px;

 }
 .template#screenshot-holder {
 
	padding-top: 3.8rem;
	margin-bottom: 1.5rem;
	min-height: 450px;
	h1 {
		font-size: 2rem;
		text-align: left;
		line-height: 2.2rem;
		margin-bottom: 1rem;
	}
	p {
		text-align: left;
		a {
			margin-top: 1rem;
		}
	}


 }
#odd, #even, #footer, #testimonials {
	padding-top: 4rem;
 	padding-bottom: 4rem;
 	 	h1, h3 {
 		text-align: center;
 		font-weight: 300;
 	}
 	h3 {
 		margin-bottom: 4rem;
 	}

	ul {
		li {
			text-align: center;
			p {
				margin-top: 1rem;
			}
		}
	}


 }
 #demo {
 	background-color: #f5f5ee;
 		padding-top: 4rem;
 	padding-bottom: 4rem;
 	 	h1, h3 {
 		text-align: center;
 		font-weight: 300;
 	}
 	h3 {
 		margin-bottom: 4rem;
 	}

	ul {
		li {
			text-align: center;
			p {
				margin-top: 1rem;
			}
		}
	}


 }
 #templateSections, #templateSectionsColored {
 		padding-top: 4rem;
 	padding-bottom: 4rem;
 	position: relative;
 }

 #templateSectionsColored {
  background-color: #f5f5ee;
 }

 #testimonials {
 	ul {
 		li {
 			text-align: left;
 			p {
 				text-align: left;
 			}
 		}
 	}
 }
#odd {
 	background-color: #f5f5ee;
 }

 #begin{
 	margin-bottom: 3rem;
 }
 #footer {
 	background-color: #333;
 	color: #a9a9a9;
 	#copyRight {
 		text-align: center;
 	}
 	p {
 		font-size: 0.8rem;
 	}
 	 h1, h3 {
 		color: #a9a9a9;
 	}
 	ul {
 		list-style: none;
 		li {
 			text-align: left;
 			a {
 				 font-size: 0.75rem;
 				 text-decoration: underline;
 				 color: #a9a9a9;
 			}

 		}
 	}
 }



#screenshot-holder {
	padding-top: 1.1rem;
	margin-bottom: 1.5rem;
	text-align: right;
	min-height: 450px;
}

h1 {margin-bottom: 0;}
h2 {margin-top: -0.4rem; margin-bottom: 1.2rem;}

#thumbnail-holder {
	text-align: center;
	min-height: 230px;
	position: relative;

	.q1 {
		position: absolute;
		left: 20px;
		top: 0;
	}
	.q2 {
		position: absolute;
		right: 20px;
		bottom: 0;
	}
	#qP {
		position: absolute;
		top: 50%;
		left: 0%;
		font-size: 1rem;
		line-height: 1rem;
		padding: 0 1rem;
		font-style: italic;
		    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%)
	}
}
.who {
	h1 {
		font-size: 2rem;
		font-weight: bold;
		text-align: center;
		margin-bottom: 2rem;
	}
	img {
		margin-bottom: 2rem;
	}
	ul {
		li {
			font-size: 0.85rem;
		}

	}
}
#uniquenessThumbs {
	li {
		text-align: center;
		font-size: 0.9rem;
		line-height: 1rem;
	}
}

#poweredBy {
	position: absolute;
	top: 10px;
	right: 20px;
}

.top-bar-section .has-dropdown > a:after {
    border-color: #faa14a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

@media only screen and (min-width: 40.063em) {
.top-bar-section .dropdown {
  top: auto;
  left: 0px !important;
  min-width: 14rem;

}

}

.top-bar .toggle-topbar.menu-icon a {

   color: #333 !important; 

}
.top-bar .toggle-topbar.menu-icon a span::after {
  
  box-shadow: 0 0 0 1px #333, 0 7px 0 1px #333, 0 14px 0 1px #333 !important;
}

@media only screen and (max-width: 767px) { 
#indexBody {
	background: url(../images/startpage/hero-header-2.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	font-family: 'Lato', sans-serif;
}
#templateBody {
	background: url(../images/startpage/hero-header-2.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	font-family: 'Lato', sans-serif;
}

}