/* line 1, ../scss/customstyle.scss */
#indexBody {
  background: url(../images/startpage/hero-header.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
}

/* line 7, ../scss/customstyle.scss */
#templateBody {
  background: url(../images/startpage/hero-header.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
}

/* line 13, ../scss/customstyle.scss */
h1, h2, h3 {
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

/* line 17, ../scss/customstyle.scss */
p {
  font-family: 'Lato', sans-serif;
}

/* line 20, ../scss/customstyle.scss */
#top-bar-holder {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 3px 2px 0px rgba(50, 50, 50, 0.05);
  -moz-box-shadow: 0px 3px 2px 0px rgba(50, 50, 50, 0.05);
  box-shadow: 0px 3px 2px 0px rgba(50, 50, 50, 0.05);
}

/* line 26, ../scss/customstyle.scss */
button.alert, .button.alert {
  background-color: #fa9f48;
  border-color: transparent;
  border-width: 1px;
  color: #FFF;
  font-family: 'Lato', sans-serif;
}
/* line 33, ../scss/customstyle.scss */
button.alert i, .button.alert i {
  margin-right: 0.3rem;
}

/* line 37, ../scss/customstyle.scss */
#homepagefeaturesandbenefitsP {
  font-size: 0.9rem;
  line-height: 1rem;
}

/* line 46, ../scss/customstyle.scss */
button, .button {
  background-color: transparent;
  border-color: #9dccdb;
  border-width: 1px;
  color: #008CBA;
  font-family: 'Lato', sans-serif;
  text-align: left;
}
/* line 53, ../scss/customstyle.scss */
button i, .button i {
  margin-right: 0.3rem;
}

/* line 59, ../scss/customstyle.scss */
#bigPerson {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -100%);
  -webkit-transform: translate(-50%, -100%);
  -o-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
}

/* line 69, ../scss/customstyle.scss */
button.alert:hover, .button.alert:hover {
  border-color: transparent;
  border-width: 1px;
  color: #FFF;
}

/* line 77, ../scss/customstyle.scss */
.top-bar-section ul li {
  background-color: rgba(255, 255, 255, 0);
}
/* line 79, ../scss/customstyle.scss */
.top-bar-section ul li a {
  font-family: 'Lato', sans-serif;
}

/* line 86, ../scss/customstyle.scss */
.top-bar-section li:not(.has-form) a:not(.button) {
  padding: 0 1rem;
  -webkit-transition: all  ease-out .3s;
  -moz-transition: all  ease-out .3s;
  -o-transition: all ease-out .3s;
  transition: all  ease-out .3s;
}

/* line 93, ../scss/customstyle.scss */
.each-section {
  min-height: 300px;
}

/* line 97, ../scss/customstyle.scss */
.template#screenshot-holder {
  padding-top: 3.8rem;
  margin-bottom: 1.5rem;
  min-height: 450px;
}
/* line 102, ../scss/customstyle.scss */
.template#screenshot-holder h1 {
  font-size: 2rem;
  text-align: left;
  line-height: 2.2rem;
  margin-bottom: 1rem;
}
/* line 108, ../scss/customstyle.scss */
.template#screenshot-holder p {
  text-align: left;
}
/* line 110, ../scss/customstyle.scss */
.template#screenshot-holder p a {
  margin-top: 1rem;
}

/* line 117, ../scss/customstyle.scss */
#odd, #even, #footer, #testimonials {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
/* line 120, ../scss/customstyle.scss */
#odd h1, #odd h3, #even h1, #even h3, #footer h1, #footer h3, #testimonials h1, #testimonials h3 {
  text-align: center;
  font-weight: 300;
}
/* line 124, ../scss/customstyle.scss */
#odd h3, #even h3, #footer h3, #testimonials h3 {
  margin-bottom: 4rem;
}
/* line 129, ../scss/customstyle.scss */
#odd ul li, #even ul li, #footer ul li, #testimonials ul li {
  text-align: center;
}
/* line 131, ../scss/customstyle.scss */
#odd ul li p, #even ul li p, #footer ul li p, #testimonials ul li p {
  margin-top: 1rem;
}

/* line 139, ../scss/customstyle.scss */
#demo {
  background-color: #f5f5ee;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
/* line 143, ../scss/customstyle.scss */
#demo h1, #demo h3 {
  text-align: center;
  font-weight: 300;
}
/* line 147, ../scss/customstyle.scss */
#demo h3 {
  margin-bottom: 4rem;
}
/* line 152, ../scss/customstyle.scss */
#demo ul li {
  text-align: center;
}
/* line 154, ../scss/customstyle.scss */
#demo ul li p {
  margin-top: 1rem;
}

/* line 162, ../scss/customstyle.scss */
#templateSections, #templateSectionsColored {
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
}

/* line 168, ../scss/customstyle.scss */
#templateSectionsColored {
  background-color: #f5f5ee;
}

/* line 174, ../scss/customstyle.scss */
#testimonials ul li {
  text-align: left;
}
/* line 176, ../scss/customstyle.scss */
#testimonials ul li p {
  text-align: left;
}

/* line 182, ../scss/customstyle.scss */
#odd {
  background-color: #f5f5ee;
}

/* line 186, ../scss/customstyle.scss */
#begin {
  margin-bottom: 3rem;
}

/* line 189, ../scss/customstyle.scss */
#footer {
  background-color: #333;
  color: #a9a9a9;
}
/* line 192, ../scss/customstyle.scss */
#footer #copyRight {
  text-align: center;
}
/* line 195, ../scss/customstyle.scss */
#footer p {
  font-size: 0.8rem;
}
/* line 198, ../scss/customstyle.scss */
#footer h1, #footer h3 {
  color: #a9a9a9;
}
/* line 201, ../scss/customstyle.scss */
#footer ul {
  list-style: none;
}
/* line 203, ../scss/customstyle.scss */
#footer ul li {
  text-align: left;
}
/* line 205, ../scss/customstyle.scss */
#footer ul li a {
  font-size: 0.75rem;
  text-decoration: underline;
  color: #a9a9a9;
}

/* line 217, ../scss/customstyle.scss */
#screenshot-holder {
  padding-top: 1.1rem;
  margin-bottom: 1.5rem;
  text-align: right;
  min-height: 450px;
}

/* line 224, ../scss/customstyle.scss */
h1 {
  margin-bottom: 0;
}

/* line 225, ../scss/customstyle.scss */
h2 {
  margin-top: -0.4rem;
  margin-bottom: 1.2rem;
}

/* line 227, ../scss/customstyle.scss */
#thumbnail-holder {
  text-align: center;
  min-height: 230px;
  position: relative;
}
/* line 232, ../scss/customstyle.scss */
#thumbnail-holder .q1 {
  position: absolute;
  left: 20px;
  top: 0;
}
/* line 237, ../scss/customstyle.scss */
#thumbnail-holder .q2 {
  position: absolute;
  right: 20px;
  bottom: 0;
}
/* line 242, ../scss/customstyle.scss */
#thumbnail-holder #qP {
  position: absolute;
  top: 50%;
  left: 0%;
  font-size: 1rem;
  line-height: 1rem;
  padding: 0 1rem;
  font-style: italic;
  transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}

/* line 257, ../scss/customstyle.scss */
.who h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}
/* line 263, ../scss/customstyle.scss */
.who img {
  margin-bottom: 2rem;
}
/* line 267, ../scss/customstyle.scss */
.who ul li {
  font-size: 0.85rem;
}

/* line 274, ../scss/customstyle.scss */
#uniquenessThumbs li {
  text-align: center;
  font-size: 0.9rem;
  line-height: 1rem;
}

/* line 281, ../scss/customstyle.scss */
#poweredBy {
  position: absolute;
  top: 10px;
  right: 20px;
}

/* line 287, ../scss/customstyle.scss */
.top-bar-section .has-dropdown > a:after {
  border-color: #faa14a transparent transparent;
}

@media only screen and (min-width: 40.063em) {
  /* line 292, ../scss/customstyle.scss */
  .top-bar-section .dropdown {
    top: auto;
    left: 0px !important;
    min-width: 14rem;
  }
}
/* line 301, ../scss/customstyle.scss */
.top-bar .toggle-topbar.menu-icon a {
  color: #333 !important;
}

/* line 306, ../scss/customstyle.scss */
.top-bar .toggle-topbar.menu-icon a span::after {
  box-shadow: 0 0 0 1px #333, 0 7px 0 1px #333, 0 14px 0 1px #333 !important;
}

@media only screen and (max-width: 767px) {
  /* line 312, ../scss/customstyle.scss */
  #indexBody {
    background: url(../images/startpage/hero-header-2.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
  }

  /* line 318, ../scss/customstyle.scss */
  #templateBody {
    background: url(../images/startpage/hero-header-2.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
  }
}
